@model Pntlession09.Models.PntKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PntKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PntTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PntTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PntTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PntTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PntMakh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
