@model IEnumerable<Pntlession09.Models.PntKhoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PntTenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PntTrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PntTenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PntTrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PntMakh }) |
            @Html.ActionLink("Details", "Details", new { id=item.PntMakh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PntMakh })
        </td>
    </tr>
}

</table>
